{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "",
    "^(?:../|./)?ui/(.*)$",
    "^(?:../|./)?elements/(.*)$",
    "^@/providers/(.*)$",
    "",
    "@/lib/(.*)$",
    "",
    "^[.]"
  ]
}
